img
{
	width:auto%;
}
input{
	border-radius: 30px;
}
.wit
{
	color:white;
}
th
{
	position: center center;
}
body
{
	background-image:url(https://abcnews.go.com/Technology/googles-logo-reason/story?id=33460100); background-position: center;
}
.irc_mi
{
	position:center center;
}
.grijs{
	color:grey;
}
.href{
	color:grey;
}
.mistere{
	margin-right: 
}
.Fx4vi{
	color:grey;
}
.gb_B .gb_sc
{
	color:grey;
}